:root {
    --dawn: to bottom, #56a5ff, #bd5427, #ff6700, #ff8100, #ffa700, #a7c492;
    --day: to bottom, #568CD8, #82B2E8, #FFF8EF, #F4E8D4, #E9D6CA, #a7c492;
    --evening: to bottom, #293462, #F24C4C, #EC9B3B, #F7D716;
    --night: to bottom, #040404, #27183F, #370648, #C4595F, #F89C69, #FFF9CB;
    --shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(187, 184, 184),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3)
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .project-card {
        @apply block min-w-0 p-6 m-4 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700;
    }

    .icon {
        @apply mx-5;
    }

    .footer {
        @apply absolute md:fixed inset-x-1/2 md:bottom-5 items-center flex flex-row justify-center;
    }
    
    .education-card {
        @apply block flex flex-row max-w-md p-6 m-4 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700;
    }

    .work-list {
        @apply items-center flex flex-col justify-between mx-4 my-10 lg:flex-row
    }
}

@responsive {

}

@media (min-width: 640px) {

}

@media (min-width: 768px) {

}

html {
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    font-family: 'League Spartan', sans-serif;
}

body {
    background-color: transparent;
}

h1 {
    font-size: larger;
}

p {
    font-size: calc(6px+1.5vmin);
}

li {
    font-size: small;
}

.about-me {
    border-radius: 5px;
    box-shadow: var(--shadow);
    padding: 5px;
}

.activity-widget {
    border: 4px solid rgb(65, 64, 64);
    flex: flex;
    background-color: rgb(211, 208, 208);
    overflow-y: auto;
    max-width: 600px;
    height: 200px;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    padding: 5px;
}

.activity {
    border: 2px solid rgb(65, 64, 64);
    padding: 5px;
    margin-bottom: 5px;
}

.background-dawn {
    background-image: linear-gradient(var(--dawn));
}

.background-day {
    background-image: linear-gradient(var(--day));
}

.background-evening {
    background-image: linear-gradient(var(--evening));
}

.background-night {
    background-image: linear-gradient(var(--night));
}

.icon {
    max-width: 50px;
    max-height: 50px;
}

.logo-card {
    background-color: rgb(211, 208, 208);
    width: fit-content;
    border-radius: 5px;
    align-items: center;
    box-shadow: var(--shadow)
}

.mobile-icon {
    max-width: 26vw;
    max-height: 26vh;
}

.school-icon {
    max-width: 7vh;
    max-height: 5vh;
}

.selfie {
    border: solid 1px gray;
    border-radius: 5px;
    max-width: 30vh;
    max-height: 30vh;
    box-shadow: var(--shadow);
}
